:root {
    --width-xl: 800px;
    --font-main: 'Montserrat', sans-serif;
    --font-normal: 'Changa One', cursive;

    --color-main: #cecece;
    --color-temp: rgb(255, 0, 0);
    --color-wind: rgb(19, 209, 174);

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body {
    font-family: var(--font-normal);
    color: var(--color-main);
}
main {
    position: absolute;
    width: 100%;
    max-height: 100vh;
    z-index: -10;
}
#main-info {
    width: 100%;
    height: 100%;

    padding-top: 10%;
}
.weather-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 30%);
    grid-template-areas: 
                        "title title title title"
                        "info info temp temp"
                        "info info wind wind";

    width: var(--width-xl);
    height: calc(var(--width-xl) / 2);
    margin: 0 auto;
}
.title-container {
    font-family: var(--font-main);
    width: 100%;
    font-size: 1.2rem;
    text-align: center;

    grid-area: title;
    color: white;
}
.info-container {
    grid-area: info;
    z-index: -1;
    grid-row: 1/4;

}
.info-container p {
    position: relative;
    bottom: -260px;
    left: 0px;
    text-align: center;

    font-size: 2rem;
}
/* temp */
.temp-container {
    grid-area: temp;
    display: flex;
    align-items: center;
}
.temp-info-div {
    flex: 1;
    text-align: right;
}
.temp-icon-div {
    flex: 1;
    margin-left: 30px;
    color: var(--color-temp);
}
.temp-icon-div i {
    font-size: 3rem;
}
/* wind */
.wind-container {
    grid-area: wind;
    display: flex;
    align-items: center;
}
.wind-info-div {
    flex: 1;
    text-align: right;
}
.wind-icon-div {
    flex: 1;
    margin-left: 30px;
    color: var(--color-wind);

}
.wind-icon-div i {
    font-size: 3rem;
}
    /* loading */
#loading {
    display: none;
}

#loading.active {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin-top: 200px;
}
#loading::before {
    content: "";
    animation: loading 0.5s linear infinite;
}

@keyframes loading {
    0% {
        content: ".";
    }
    50% {
        content: "..";
    }
    100% {
        content: "...";
    }
}
/* error */
.error-msg {
    grid-column: 1/5;
    color: white;
    font-size: 6rem;
    display: block;
    text-align: center;
}
/* INPUT */
form {
    position: relative;
    display: inline-block;
}
#input {
    text-align: center;
    width: 20rem;
    border-radius: 10px;
    height: 40px;
    padding-right: 40px;
}
#button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    border: none;
    background: url(./img/search-icon.svg);
}
#button:hover {
cursor: pointer;
}
#button img {
    width: 100%;
}
/* LOADING */
/* #loading {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;

    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-in {
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: rgba(15, 32, 39, 0) ;
} */
/* WEATHER  */
.bg {
    background-color: aqua;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -100;
}
.sun {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: yellow;
}
.mountain-1 {
    width: 15rem;
    height: 15rem;
    background-color: green;
}